/* --------------------- */
/*   Custom Properties   */
/* --------------------- */

:root {
    /* -- Font Families -- */
    --font-family-borel: 'Borel', cursive;
    --font-family-glass-antiqua: 'Glass Antiqua', cursive;
    --font-family-hi-melody: 'Hi Melody', cursive;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-twinkle-star: 'Twinkle Star', cursive;
    --font-family-righteous: 'Righteous', cursive;
    --font-family-bricolage-grotesque: 'Bricolage Grotesque', sans-serif;

    /* -- Colors -- */
    --bg-color-blue-purple: rgba(49, 31, 211, 0.788);

}

/* --------------------- */
/*        Reset          */
/* --------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Setup for body */
body {
    line-height: 1.5;
    /* min-height: 100vh; */
    /* background-color: var(--bg-color-blue-purple); */
}

/* Make images easier to work with */
img,
iframe, 
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button, 
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------- */
/*    Utility Classes    */
/* --------------------- */

/*  ----- General -----  */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

/*  ----- Colours -----  */



/*  ----- General -----  */

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid mediumblue !important;
} */

/* body.scroll-lock {
    overflow: hidden;
}   */

header {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom-width: 0.25em;
    border-bottom-style: groove;
    border-bottom-color:rgba(49, 31, 211, 0.932);
}

header h1 {
    font-family: var(--font-family-bricolage-grotesque);
    padding: 0em 1em;
    font-weight: 400;
    /* text-wrap: balance; */
}

.company-logo-mini {
    display: flex;
    justify-content: center;
    width: 25%;
    /* min-width: 10%; */
    /* width: 10%; */
    /* min-width: 5%; */
    /* max-width: 6%; */
    /* min-width: fit-content; */
}

.company-name-acronym {
    display: none;
}

.company-name-full {
    display: none;
}

/* .mini-mobile-header {
    display: none;
} */

.mini-mobile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap, 1rem); */
    font-size: 1.5rem;
    list-style: none;
    padding: 0 2em;
    margin: 0;
    justify-content: space-evenly;
    background-color: rgba(49, 31, 211, 0.788);
    font-size: 1.25rem;
    /* background-color: rgb(49, 31, 211); */
    border-radius: 0.5em;
    /* background: hsl(0 0% 100% / 0.9); */
    /* backdrop-filter: blur(1rem); */
}

.primary-navigation a {
    text-decoration: none;
    /* color: rgb(49, 31, 211); */
    color: #fff;
    /* color: whitesmoke; */
    /* color: rgb(61, 40, 245); */
    font-family: var(--font-family-righteous);
    font-size: 1.5rem;
}

.primary-navigation a:hover {
    color: yellow;
}

.mobile-nav-toggle {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    color: #fff;
}

.navbar .container-fluid {
    justify-content: space-around;
}

/* --- Section Styling --- */
.diagonal {
    position: relative;
    isolation: isolate; 
}

.diagonal::after {
    content: '';
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}

/* --- Hero Section --- */
.hero {
    display: flex;
    justify-content: center;
    /* margin-top: 3rem; */
    padding: 2em 0;
    background-color: #fff;
    /* background-image: url('../images/digital-sunrise.png'); */
    /* background-image: url("../images/digital-sunrise-cropped.png"); */
    background-image: url('../images/painted-hands-cirlce.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom-right-radius: 2em; */
}

.hero figure {
    width: 40%;
}

.hero img {
    border-radius: 1em;
    opacity: 0.9;
}

/* --- Introduction Section --- */
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2em; */
    gap: var(--gap, 1.25rem);
    /* margin-top: 2em; */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.intro-header {
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
    /* border-bottom-color: #fff; */
    /* border-bottom-color:rgba(49, 31, 211, 0.932); */
}

.first-letter-paragraph {
    /* vertical-align: bottom; */
    font-size: 1.25rem;
    font-weight: 600;
}

.introduction p {
    /* color: #fff; */
    max-width: 50rem;
}

.our-philosophy .intro-fig, .resources .intro-fig {
    width: 40%;
    box-shadow: 0.25em 0.5em 0.5em #fff;
    border-radius: 1em;
    margin: 1rem;
}

.book-tour-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    /* text-decoration: underline; */
}

.our-philosophy .intro-fig img, .resources .intro-fig img {
    border-radius: 1em;
}

.our-philosophy .icon-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.our-philosophy .icon-carousel figure {
    min-width: 5rem;
}

/* --- Philosophy & Mission Statement Section --- */
.our-philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2em; */
    gap: var(--gap, 1.25rem);
    /* margin-top: 2em; */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.philosophy-header {
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
    /* border-bottom-color: #fff; */
    /* border-bottom-color:rgba(49, 31, 211, 0.932); */
}

.our-philosophy p {
    /* color: #fff; */
    max-width: 50rem;
}

.learn-more-montessori {
    font-size: 1.5rem;
}

a.montessori-link {
    /* color: yellow; */
    text-decoration: none;
}

/* --- Locations & Contact --- */
.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap, 1.75rem);
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.locations h2 {
    /* font-size: 1.5rem; */
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    /* border-bottom-color: #fff; */
}

.locations h3 {
    align-self: center;
    border-bottom-width: 0.06em;
    border-bottom-style: solid;
    /* border-bottom-color: #fff; */
}

.calgary-location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    /* align-items: center; */
}

.calgary-location h4, .okotoks-location h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border-bottom-width: 0.125em;
    border-bottom-style: groove;
    border-bottom-color: rgba(49, 31, 211, 0.932);
}

.calgary-location a {
    /* color: #fff; */
    text-decoration: none;
}

.okotoks-location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    /* align-items: center; */
}

.okotoks-location a {
    /* color: #fff; */
    text-decoration: none;
}

/* .calgary-location h3, .okotoks-location h3 {
    font-size: 1.25rem;
} */

.calgary-location p, .okotoks-location p {
    font-size: 1.125rem;
}

.location-map {
    display: flex;
    box-shadow: 0.25em 0.5em 0.5em rgba(49, 31, 211, 0.788);
    border-radius: 1rem;
    /* box-shadow: 0.25em 0.5em 0.5em #fff; */
    margin: 1rem 0;
}

.location-map iframe {
    border-radius: 1rem;
}

/* --- Call To Action --- */
.cta-contact-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem 3rem; */
    gap: 1rem;
}

.contact-btn {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border-style: groove;
    border-width: 0.0125em;
    border-color: rgba(49, 31, 211, 0.788);
    /* border-color: rgba(49, 31, 211, 0.932); */
    padding: 0.25em 0.75em;
    font-family: var(--font-family-roboto);
}

a.contact-btn {
    color:rgba(49, 31, 211, 0.932);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
}

a.contact-btn:hover {
    color: #fff;
    background-color: rgba(49, 31, 211, 0.932);
}

.cta-book-tour {
    /* background-color: rgb(255, 14, 14); */
    background-color: #fff;
    color:rgba(49, 31, 211, 0.932);
    border-style: groove;
    border-radius: 0.5em;
    border-width: 0.0125em;
    border-color: #fff;
    padding: 0.25em 0.75em;
    font-size: 1.5rem;
    font-family: var(--font-family-roboto);
    font-weight: 700;
}

.cta-book-tour:hover {
    background-color: yellow;
    /* background-color: rgba(204, 43, 43, 0.918); */
    /* color: #fff; */
    /* color: rgba(49, 31, 211, 0.932); */
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* align-items: center; */
    background-color: rgba(49, 31, 211, 0.788);
    font-family: var(--font-family-roboto);
    color: #fff;
    padding: 2rem 1rem;
}

/* .footer-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
} */

/* .footer-locations h2 {
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: #fff;
} */

/* .footer-location-map {
    display: flex;
    border-radius: 1rem;
    box-shadow: 0.25em 0.5em 0.5em #fff;
} */

/* .footer-location-map iframe {
    border-radius: 1rem;
} */

.footer-hours-operation {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer-hours-operation h2 {
    margin-bottom: 0.5rem;
    border-bottom-width: 0.125em;
    border-bottom-style: groove;
    border-bottom-color:#fff;
}

.footer-hours-operation h3 {
    border-bottom-width: 0.06em;
    border-bottom-style: groove;
    border-bottom-color:#fff;
}

.footer-hours-operation ul {
    gap: 0.25rem;
}

/* .pencil-border-bottom {
    width: 20%;
} */

/* ----- Media Queries ----- */

@media (min-width: 1240px) {
    .company-name-full {
        display: block;
    }

    /* .company-name-acronym {
        display: none;
    } */
}

@media (min-width: 781px) {
    /* header {
        padding: 1em;
        font-size: 1.5rem;
        justify-content: space-between;
    } */
    
    .nav-link-list {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .book-now-nav {
        background-color: orange;
        border-radius: 0.5rem;
        padding: 0.125rem 0.25rem;
    }

    /* .company-name-full {
        display: none;
    } */

    .company-name-acronym {
        display: block;
    }

    .mini-mobile-header {
        display: none;
    }

}

@media (max-width: 780px) {
    header h1 {
        padding: 0;
        font-size: 1.5rem;
    }

    /* .mini-mobile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .primary-navigation {
        display: flex;
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0%;
        flex-direction: column;
        padding: min(30vh, 5rem) 2em;
        transform: translateX(100%);
        transition: transform 300ms ease-out;
        background-color: rgba(49, 31, 211, 0.932);
        /* background: hsl(rgba(20, 19, 20, 0.788) 0% 100% / 0.1); */
    }

    .primary-navigation a {
        font-size: 2.5rem;
    }

    .primary-navigation a:hover {
        /* background-color: #fff; */
        color: yellow;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        /* position: absolute; */
        background-color: transparent;
        background-image: url("../images/blue-bars-solid.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 3rem;
        height: 3rem;
        /* aspect-ratio: 1; */
        /* top: 2rem; */
        /* right: 2rem; */
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/x-solid.svg");
        background-color: transparent;
        position: fixed;
        top: 2.25rem;
        right: 2.25rem;
    }

}

@media (min-width: 485px) {
    .mini-mobile-header {
        flex-direction: row;
        gap: 0.5rem
    }
}

@media (max-width: 450px) {
    /* header h1 {
        font-size: 1rem;
    } */

    /* .mini-mobile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .contact-btn {
        padding: 0.5rem 1rem;
        /* background-color: orange; */
        border-radius: 0.5rem;
    }
    
    a.contact-btn {
        color:rgba(49, 31, 211, 0.932);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
    }
}

