/* --------------------- */
/*   Custom Properties   */
/* --------------------- */

:root {
    /* -- Font Families -- */
    --font-family-borel: 'Borel', cursive;
    --font-family-glass-antiqua: 'Glass Antiqua', cursive;
    --font-family-hi-melody: 'Hi Melody', cursive;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-twinkle-star: 'Twinkle Star', cursive;
    --font-family-righteous: 'Righteous', cursive;
    --font-family-bricolage-grotesque: 'Bricolage Grotesque', sans-serif;
    --font-family-delius-swash-caps: 'Delius Swash Caps', cursive;

    /* -- Colors -- */
    --bg-color-blue-purple: rgba(49, 31, 211, 0.788);

}

/* --------------------- */
/*        Reset          */
/* --------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Setup for body */
body {
    line-height: 1.5;
    /* min-height: 100vh; */
    /* background-color: var(--bg-color-blue-purple); */
}

/* Make images easier to work with */
img,
iframe, 
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button, 
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------- */
/*    Utility Classes    */
/* --------------------- */

/*  ----- General -----  */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

/*  ----- Colours -----  */



/*  ----- General -----  */

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid mediumblue !important;
} */

/* body.scroll-lock {
    overflow: hidden;
}   */

header {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom-width: 0.25em;
    border-bottom-style: groove;
    border-bottom-color:rgba(49, 31, 211, 0.932);
}

header h1 {
    /* font-family: var(--font-family-bricolage-grotesque); */
    /* font-family: var(--font-family-delius-swash-caps); */
    padding: 0em 1em;
    font-weight: 400;
    /* text-wrap: balance; */
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

h3 {
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.navbar .container-fluid {
    justify-content: space-around;
    padding: 0em 1em;
    gap: 1rem;
}

.navbar-brand {
    font-family: var(--font-family-delius-swash-caps);
}

.navbar-brand.navbar-header-main {
    display: block;
    margin: 0;
    /* border-bottom-width: 0.125em; */
    /* border-bottom-style: solid; */
    /* border-bottom-color: lightgrey; */
}

.navbar-brand.navbar-header-mobile {
    display: none;
}

.lhma-logo-navbar {
    width: 10%;
    min-width: 3.5%;
}

.offcanvas-title {
    font-family: var(--font-family-delius-swash-caps);
}

.offcanvas-header .btn-close {
    margin-right: 0.5rem;
}

/* --- Section Styling --- */
.diagonal {
    position: relative;
    isolation: isolate; 
}

.diagonal::after {
    content: '';
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}

/* --- Hero Section --- */
.hero {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 6em 0 6em 0;
    background-color: #fff;
    /* background-image: url('../images/digital-sunrise.png'); */
    /* background-image: url("../images/digital-sunrise-cropped.png"); */
    /* background-image: url('../images/painted-hands-cirlce.png'); */
    background-image: url('../images/grass-clouds-blue-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom-right-radius: 2em; */

    --mask:    
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    /* radial-gradient(67.08px at 50% calc(100% - 90.00px), #000 99%, transparent 101%) calc(50% - 60px) 0/120px 100%, */
    /* radial-gradient(67.08px at 50% calc(100% + 60.00px), transparent 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x; */


    /* --mask:
    radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask); */
}

/* .hero figure {
    width: 40%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
} */

/* .hero img {
    border-radius: 1em;
    opacity: 0.85;
} */

/* --- Introduction Section --- */
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2em; */
    gap: var(--gap, 1.25rem);
    /* margin-top: 2em; */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(147, 200, 244, 0.788); */
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.intro-header {
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    /* border-bottom-color: #fff; */
    /* border-bottom-color:rgba(49, 31, 211, 0.932); */
}

.hero-banner {
    max-width: 897px;
    width: 80%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
}

.hero-banner img {
    border-radius: 1em;
}

/* .mobile-header {
    display: none;
} */

/* .first-letter-paragraph {
    font-size: 1.25rem;
    font-weight: 600;
} */

.introduction p {
    /* color: #fff; */
    max-width: 50rem;
}

.painted-hands {
    min-width: 20%;
    width: 40%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
}

.painted-hands img {
    border-radius: 1em;
    /* opacity: 0.85; */
}

.our-philosophy .intro-fig, .resources .intro-fig {
    width: 40%;
    /* box-shadow: 0.25em 0.5em 0.5em #fff; */
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
    margin: 1rem;
}

.five-senses {
    width: 85%;
}

.book-tour-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    /* text-decoration: underline; */
}

.children-playing-cartoon {
    width: 80%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
    margin-bottom: 1rem;
}

.children-playing-cartoon img {
    border-radius: 1em;
}

.grassy-field {
    max-width: 1000px;
    width: 80%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
    margin-bottom: 1rem;
}

.grassy-field img {
    border-radius: 1em;
}

.our-philosophy .intro-fig img, .resources .intro-fig img {
    border-radius: 1em;
}

.our-philosophy .icon-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.our-philosophy .icon-carousel figure {
    width: 5rem;
}

/* --- Philosophy & Mission Statement Section --- */
.our-philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2em; */
    gap: var(--gap, 1.25rem);
    /* margin-top: 2em; */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.philosophy-header {
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    font-family: var(--font-family-delius-swash-caps);
    /* border-bottom-color: #fff; */
    /* border-bottom-color:rgba(49, 31, 211, 0.932); */
}

.our-philosophy p {
    /* color: #fff; */
    max-width: 50rem;
}

.learn-more-montessori {
    font-size: 1rem;
}

a.montessori-link {
    /* color: yellow; */
    text-decoration: none;
}

.wavy-break-top {
    height: 4rem;
    background-color: lightskyblue;
    --mask:
          radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
          radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.wavy-break-bottom {
    height: 5rem;
    background-color: lightskyblue;
    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.wavy-top-and-bottom {
    --mask:
          radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
          radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
          radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) 50% 100%/120px 51% repeat-x,
          radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) calc(50% - 60px) calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    height: 3rem;
    background-color: lightskyblue;
}

/* --- Locations & Contact --- */
.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap, 1.75rem);
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.locations h2 {
    /* font-size: 1.5rem; */
    border-bottom-color: lightgrey;
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    font-family: var(--font-family-delius-swash-caps);
    /* border-bottom-color: #fff; */
}

.locations h3 {
    /* align-self: center; */
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    font-family: var(--font-family-delius-swash-caps);
    /* border-bottom-color: #fff; */
}

.location-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.calgary-location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* align-items: flex-start; */
    align-items: center;
    padding: 1rem;
    border-style: solid;
    border-width: 0.25rem;
    border-color: lightskyblue;
    border-radius: 1rem;
}

.calgary-location h4, .okotoks-location h4 {
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    border-bottom-width: 0.125em;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    font-family: var(--font-family-delius-swash-caps);
    /* border-bottom-style: groove; */
    /* border-bottom-color: rgba(49, 31, 211, 0.932); */
}

.calgary-location a {
    /* color: #fff; */
    text-decoration: none;
}

.okotoks-location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.75rem;
    /* align-items: flex-start; */
    align-items: center;
    padding: 1rem;
    border-style: solid;
    border-width: 0.25rem;
    border-color: lightskyblue;
    border-radius: 1rem;
}

.okotoks-location a {
    /* color: #fff; */
    text-decoration: none;
}

/* .calgary-location h3, .okotoks-location h3 {
    font-size: 1.25rem;
} */

.calgary-location p, .okotoks-location p {
    font-size: 1.125rem;
}

.location-map {
    display: flex;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1rem;
    margin: 1rem 0;
    border-color: lightskyblue;
    border-width: 0.25rem;
    border-style: double;
    /* border-style: groove; */
    /* border-style: solid; */
    /* box-shadow: 0.25em 0.5em 0.5em rgba(49, 31, 211, 0.788); */
    /* box-shadow: 0.25em 0.5em 0.5em #fff; */
}

.location-map iframe {
    border-radius: 1rem;
}

/* --- Call To Action --- */
.cta-contact-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 0;
    /* padding: 1rem 3rem; */
    gap: 1rem;
}

.contact-btn {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border-style: groove;
    border-width: 0.0125em;
    border-color: rgba(49, 31, 211, 0.788);
    /* border-color: rgba(49, 31, 211, 0.932); */
    padding: 0.25em 0.75em;
    font-family: var(--font-family-roboto);
}

a.contact-btn {
    color:rgba(49, 31, 211, 0.932);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    font-family: var(--font-family-delius-swash-caps);
}

a.contact-btn:hover {
    color: #fff;
    background-color: rgba(49, 31, 211, 0.932);
}

.cta-book-tour {
    /* background-color: rgb(255, 14, 14); */
    background-color: #fff;
    color:rgba(49, 31, 211, 0.932);
    border-style: groove;
    border-radius: 0.5em;
    border-width: 0.0125em;
    border-color: #fff;
    padding: 0.25em 0.75em;
    font-size: 1.5rem;
    font-family: var(--font-family-roboto);
    font-weight: 700;
}

.cta-book-tour:hover {
    background-color: yellow;
    /* background-color: rgba(204, 43, 43, 0.918); */
    /* color: #fff; */
    /* color: rgba(49, 31, 211, 0.932); */
}

.homepage-ending {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.socials h2 {
    border-bottom-color: lightgrey;
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    font-family: var(--font-family-delius-swash-caps);
}

.facebook {
    width: 12%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: lightskyblue;
    color: #000;
    /* align-items: center; */
    /* background-color: rgba(49, 31, 211, 0.788); */
    font-family: var(--font-family-delius-swash-caps);
    /* color: #fff; */
    padding: 2rem 1rem;
}

footer h2 {
    font-size: 1rem;
}

/* .footer-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
} */

/* .footer-locations h2 {
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: #fff;
} */

/* .footer-location-map {
    display: flex;
    border-radius: 1rem;
    box-shadow: 0.25em 0.5em 0.5em #fff;
} */

/* .footer-location-map iframe {
    border-radius: 1rem;
} */

.footer-hours-operation {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer-hours-operation h2 {
    margin-bottom: 0.5rem;
    border-bottom-width: 0.125em;
    border-bottom-style: groove;
    border-bottom-color:#fff;
}

.footer-hours-operation h3 {
    border-bottom-width: 0.06em;
    border-bottom-style: groove;
    border-bottom-color:#fff;
}

.footer-hours-operation ul {
    gap: 0.25rem;
}

/* .pencil-border-bottom {
    width: 20%;
} */

/* ----- About Us ----- */

/* --- About Hero Section --- */
.about-hero {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 3em 0 3em 0;
    background-color: #fff;
    background-image: url('../images/grass-clouds-blue-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.about-hero-banner {
    max-width: 1920px;
    width: 29%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
    margin: 2rem 0;
}

.about-hero-banner img {
    border-radius: 1em;
}

.about-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    /* gap: var(--gap, 1.25rem); */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
}

.about-introduction h2 {
    font-family: var(--font-family-delius-swash-caps);
    /* border-bottom-width: 0.125em; */
    /* border-bottom-style: solid; */
    /* border-bottom-color: lightgrey; */
}

.about-introduction h3 {
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.about-introduction p {
    max-width: 50rem;
}

.hi-mama-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    /* gap: var(--gap, 1.25rem); */
    padding: 1rem 2rem;
    font-family: var(--font-family-roboto);
    border-style: dashed;
    border-width: 0.125em;
    border-color: lightskyblue;
    border-radius: 1em;
}

.hi-mama-container h3 {
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.hi-mama-container p {
    max-width: 50rem;
}

.hi-mama-container ul {
    gap: 0.5rem;
    padding: 0 2em;
}

.globe-books {
    min-width: 30%;
}

.backpack {
    min-width: 30%;
}

.mountains {
    min-width: 30%;
}

.light-bulb {
    min-width: 30%;
}

/* .partnership {
    min-width: 30%;
} */

.hi-mama {
    width: 25%;
    /* max-width: 27%; */
}

.about-booking {
    margin: 0 0 1rem 0;
}

/* ----- End of About Us ----- */

/* ----- Resources ----- */
.resources-hero {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 6em 0 6em 0;
    background-color: #fff;
    background-image: url('../images/grass-clouds-blue-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.resources-hero-banner {
    max-width: 897px;
    width: 80%;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
}

.resources-hero-banner img {
    border-radius: 1em;
}

.resources h2, h3 {
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2em; */
    gap: var(--gap, 1.25rem);
    /* margin-top: 2em; */
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
    /* background-color: rgba(147, 200, 244, 0.788); */
    /* background-color: rgba(49, 31, 211, 0.788); */
    /* color: rgba(253, 253, 253, 0.925); */
}

.resources p {
    max-width: 50rem;
}

.resources ul {
    border-width: 0.25rem;
    border-color: lightskyblue;
    border-style: double;
    border-radius: 1rem;
}

/* ----- End of Resources ----- */


/* ----- Montessori ----- */

.quote-dr-montessori {
    background-color: rgba(255, 255, 255, 0.363);
    /* color: slategray; */
    color: #000000dc;
    padding: 2rem 4rem;
    border-width: 0.25rem;
    border-color: lightskyblue;
    border-style: double;
    border-radius: 1rem;
}

.quote-dr-montessori p {
    max-width: 25rem;
}

.quote-dr-montessori footer {
    font-style: italic;
}

.montessori {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap, 1.25rem);
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
}

/* .maria-portrait-paragraph {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
} */

.montessori p {
    max-width: 50rem;
}

.maria-montessori {
    display: flex;
    /* width: 30%; */
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.maria-montessori img {
    border-radius: 1rem;
}

.montessori-intro-list {
    max-width: 50rem;
    padding: 0;
}

/* ----- End of Montessori ----- */


/* ----- Contact LHMA ----- */

.contact-hero {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 5em 0 5em 0;
    background-color: #fff;
    background-image: url('../images/grass-clouds-blue-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.contact-hero-banner {
    width: 40%;
    max-width: 333px;
    box-shadow: 0.25em 0.5em 0.5em grey;
    border-radius: 1em;
}

.contact-hero-banner img {
    border-radius: 1em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap, 1.25rem);
    padding: 1rem 5rem;
    font-family: var(--font-family-roboto);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.contact-header {
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.contact-form-header {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-delius-swash-caps);
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.calgary-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.25rem;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 1rem;
    padding: 1rem;
}

.calgary-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.okotoks-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.25rem;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 1rem;
    padding: 1rem;
}

.okotoks-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.contact-form-ul {
    display: flex;
    align-items: center;
}

textarea {
    border-radius: 1rem;
}

.google-form {
    display: flex;
    justify-content: center;
}

/* ----- End of Contact LHMA ----- */

/* ----- Media Queries ----- */

@media (min-width: 1080px) {

    .location-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .contact-grid {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .okotoks-location {
        margin-top: 0;
    }

    /* .calgary-location, .okotoks-location {
        align-items: center;
    } */
}

@media (min-width: 1100px) {
    .navbar-brand.navbar-header-main {
        padding: 0 0 0 3rem;
    }
}

@media (min-width: 1003px) {
    #offcanvasNavbar {
        align-items: center;
    }

    .navbar .container-fluid {
        margin-left: 2rem;
    }
}

@media (min-width: 980px) {
    .lhma-logo-navbar {
        width: 5%;
    }

}

@media (min-width: 820px) {
    .globe-books {
        min-width: 17%;
    }
    
    .backpack {
        min-width: 17%;
    }
    
    .mountains {
        min-width: 17%;
    }

    .light-bulb {
        min-width: 17%;
    }

    /* .partnership {
        min-width: 17%;
    } */
}

@media (min-width: 811px) and (max-width: 1100px) {
    .hero {
        padding: 6em 0 6em 0;
    }
}

@media (min-width: 781px) and (max-width: 810px) {
    .hero {
        padding: 5em 0 5em 0;
    }
}

@media (max-width: 780px) {
    header h1 {
        padding: 0;
        font-size: 1.5rem;
    }

    .contact-hero {
        padding: 4em 0 4em 0;
    }

    .facebook {
        width: 19%;
    }

    .hi-mama {
        width: 45%;
    }
}

@media (min-width: 330px) and (max-width: 780px) {
    .hero {
        padding: 4em 0 4em 0;
    }

    .quote-dr-montessori {
        margin: 0.5rem 2rem;
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 0px) and (max-width: 330px) {
    .hero {
        padding: 3em 0 3em 0;
    }

    .quote-dr-montessori {
        margin: 0.5rem 2rem;
        padding: 0.5rem 1rem;

    }
}

@media (max-width: 450px) {    
    .contact-hero {
        padding: 3em 0 4em 0;
    }

    .contact-btn {
        padding: 0.5rem 1rem;
        /* background-color: orange; */
        border-radius: 0.5rem;
    }
    
    a.contact-btn {
        color:rgba(49, 31, 211, 0.932);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .about-hero {
        padding: 1em 0 2em 0;
    }

    .lhma-logo-navbar {
        width: 15%;
    }

    .navbar-brand.navbar-header-main {
        display: none;
    }

    .navbar-brand.navbar-header-mobile {
        display: block;
        /* border-bottom-width: 0.125em; */
        /* border-bottom-style: solid; */
        /* border-bottom-color: lightgrey; */
    }

    .introduction, .our-philosophy, .locations, .about-introduction {
        padding: 1rem 2rem;
    }

    footer h2 {
        font-size: 1rem;
    }

    h1.intro-header {
        font-size: 1.25rem;
    }

    .about-introduction h2 {
        font-size: 1.25rem;
    }
}

